:root {
    /*字体尺寸*/
    --main-sidebar-size: 1rem;
    /*方向*/
    --main-sidebar-algin: left;
    /*颜色*/
    --main-sidebar-box-shadow-color: #52abfff;
    --main-sidebar-box-shadow: inset -8px -4px 0px -4px #52abff;
}

.new {
    color: #f5222d;
    background: #f6ffed;
    border: 1px solid #d9d9d900;
    border-radius: 4px;
    font-size: 12px;
    float: right;
    height: 18px;
    line-height: 18px;
}

.file .new {
    margin-top: 8px;
}

.anchor .new {
    color: #f5222d;
    margin-left: 8px;
}

/*search样式处理*/
.search .clear-button.show {
    position: absolute;
    right: 64px;
    margin-top: 4px;
}

.search .clear-button svg {
    transform: scale(.8) !important;
}

.search .results-panel.show {
    margin: 0px 36px;
    padding: 0px 16px;
    box-shadow: 0px 2px 2px var(--borderColor);
    width: calc(100% - 72px);
    max-height: 400px;
    overflow-y: auto;
}